In [1]:
import pandas as pd

testfile = 'disasters.csv'
df = pd.read_csv(testfile)
df.head()

,Disaster Type,Disaster Subtype,Disaster Group,Disaster Subgroup,Event Name,Origin,Country,Location,Latitude,Longitude,start_date,end_date,Total Deaths,No Affected,Reconstruction Costs ('000 US$),Total Damages ('000 US$),CPI
0,Earthquake,Ground movement,Natural,Geophysical,NaN,NaN,Japan,"Nanao, Wajima districts (Isikawa province), Ni...",37.336,136.588,2007-03-25,2007-03-25,1.0,NaN,NaN,250000.0,81.101659
1,Storm,Tropical cyclone,Natural,Meteorological,Indhala,NaN,Madagascar,"Diana, Sava, Sofia, Analanjirofo provinces",-14.840,49.940,2007-03-15,2007-03-17,80.0,203182.0,NaN,240000.0,81.101659
2,Flood,Flash flood,Natural,Hydrological,NaN,Storms and heavy rains,Australia,"Gosford, Dungog, Newcastle, Wyong, Port Stephe...",-32.870,151.380,2007-06-08,2007-06-12,9.0,5000.0,NaN,1300000.0,81.101659
3,Flood,Riverine flood,Natural,Hydrological,NaN,Heavy rains,Haiti,"Ferrier village (Fort Liberte district, Nord E...",19.410,-71.780,2007-03-26,2007-03-30,14.0,15000.0,NaN,NaN,81.101659
4,Flood,Riverine flood,Natural,Hydrological,NaN,Heavy rains,Argentina,"Tucuman, Santiago del Estero, Salta, Formosa p...",NaN,NaN,2007-01-18,2007-03-20,5.0,60000.0,NaN,30000.0,81.101659

In [2]:
df.columns

Index(['Disaster Type', 'Disaster Subtype', 'Disaster Group',
       'Disaster Subgroup', 'Event Name', 'Origin', 'Country', 'Location',
       'Latitude', 'Longitude', 'start_date', 'end_date', 'Total Deaths',
       'No Affected', 'Reconstruction Costs ('000 US$)',
       'Total Damages ('000 US$)', 'CPI'],
      dtype='object')

In [3]:
df['Disaster Type'].value_counts()

Flood                  2256
Storm                  1418
Earthquake              345
Extreme temperature     273
Landslide               255
Drought                 161
Wildfire                135
Volcanic activity        61
Mass movement (dry)       9
Name: Disaster Type, dtype: int64

In [17]:
climate_disasters = df.loc[(df['Disaster Subgroup'] == 'Climatological') | (df['Disaster Type'] == 'Storm') | (df['Disaster Type'] == 'Flood'), :]
climate_disasters.head()

,Disaster Type,Disaster Subtype,Disaster Group,Disaster Subgroup,Event Name,Origin,Country,Location,Latitude,Longitude,start_date,end_date,Total Deaths,No Affected,Reconstruction Costs ('000 US$),Total Damages ('000 US$),CPI
1,Storm,Tropical cyclone,Natural,Meteorological,Indhala,NaN,Madagascar,"Diana, Sava, Sofia, Analanjirofo provinces",-14.84,49.94,2007-03-15,2007-03-17,80.0,203182.0,NaN,240000.0,81.101659
2,Flood,Flash flood,Natural,Hydrological,NaN,Storms and heavy rains,Australia,"Gosford, Dungog, Newcastle, Wyong, Port Stephe...",-32.87,151.38,2007-06-08,2007-06-12,9.0,5000.0,NaN,1300000.0,81.101659
3,Flood,Riverine flood,Natural,Hydrological,NaN,Heavy rains,Haiti,"Ferrier village (Fort Liberte district, Nord E...",19.41,-71.78,2007-03-26,2007-03-30,14.0,15000.0,NaN,NaN,81.101659
4,Flood,Riverine flood,Natural,Hydrological,NaN,Heavy rains,Argentina,"Tucuman, Santiago del Estero, Salta, Formosa p...",NaN,NaN,2007-01-18,2007-03-20,5.0,60000.0,NaN,30000.0,81.101659
5,Flood,Riverine flood,Natural,Hydrological,NaN,Heavy rain and snowmelt,Afghanistan,"Badghis, Uruzgan, Hilmand, Hirat, Ghor, Nimroz...",33.25,64.89,2007-03-18,2007-03-26,104.0,20000.0,NaN,NaN,81.101659

In [32]:
disaster_types = climate_disasters.groupby('Disaster Type')
disaster_types['Disaster Subtype'].value_counts()

Disaster Type  Disaster Subtype
Drought        Drought                              160
Flood          Riverine flood                      1229
               Flash flood                          374
               Coastal flood                         18
Storm          Tropical cyclone                     783
               Convective storm                     527
               Extra-tropical storm                  84
Wildfire       Forest fire                           79
               Land fire (Brush, Bush, Pasture)      31
Name: Disaster Subtype, dtype: int64