In [30]:
import pandas as pd

testfile = 'disasters.csv'
df = pd.read_csv(testfile)
df.head()

,Disaster Type,Disaster Subtype,Disaster Group,Disaster Subgroup,Event Name,Origin,Country,Location,Latitude,Longitude,start_date,end_date,Total Deaths,No Affected,Reconstruction Costs ('000 US$),Total Damages ('000 US$),CPI
0,Earthquake,Ground movement,Natural,Geophysical,NaN,NaN,Japan,"Nanao, Wajima districts (Isikawa province), Ni...",37.336,136.588,2007-03-25,2007-03-25,1.0,NaN,NaN,250000.0,81.101659
1,Storm,Tropical cyclone,Natural,Meteorological,Indhala,NaN,Madagascar,"Diana, Sava, Sofia, Analanjirofo provinces",-14.840,49.940,2007-03-15,2007-03-17,80.0,203182.0,NaN,240000.0,81.101659
2,Flood,Flash flood,Natural,Hydrological,NaN,Storms and heavy rains,Australia,"Gosford, Dungog, Newcastle, Wyong, Port Stephe...",-32.870,151.380,2007-06-08,2007-06-12,9.0,5000.0,NaN,1300000.0,81.101659
3,Flood,Riverine flood,Natural,Hydrological,NaN,Heavy rains,Haiti,"Ferrier village (Fort Liberte district, Nord E...",19.410,-71.780,2007-03-26,2007-03-30,14.0,15000.0,NaN,NaN,81.101659
4,Flood,Riverine flood,Natural,Hydrological,NaN,Heavy rains,Argentina,"Tucuman, Santiago del Estero, Salta, Formosa p...",NaN,NaN,2007-01-18,2007-03-20,5.0,60000.0,NaN,30000.0,81.101659

In [2]:
df.columns

Index(['Disaster Type', 'Disaster Subtype', 'Disaster Group',
       'Disaster Subgroup', 'Event Name', 'Origin', 'Country', 'Location',
       'Latitude', 'Longitude', 'start_date', 'end_date', 'Total Deaths',
       'No Affected', 'Reconstruction Costs ('000 US$)',
       'Total Damages ('000 US$)', 'CPI'],
      dtype='object')

In [3]:
df['Disaster Type'].value_counts()

Flood                  2256
Storm                  1418
Earthquake              345
Extreme temperature     273
Landslide               255
Drought                 161
Wildfire                135
Volcanic activity        61
Mass movement (dry)       9
Name: Disaster Type, dtype: int64

In [24]:
climate_disasters = df.loc[(df['Disaster Subgroup'] == 'Climatological') | (df['Disaster Subtype'] == 'Coastal flood'), :]
climate_disasters.head()

,Disaster Type,Disaster Subtype,Disaster Group,Disaster Subgroup,Event Name,Origin,Country,Location,Latitude,Longitude,start_date,end_date,Total Deaths,No Affected,Reconstruction Costs ('000 US$),Total Damages ('000 US$),CPI
47,Flood,Coastal flood,Natural,Hydrological,NaN,Heavy rains and cyclones,Madagascar,"Antananarivo I, Antananarivo II, Antananarivo ...",-18.49,46.34,2007-02-08,2007-02-08,7.0,33000.0,NaN,NaN,81.101659
106,Wildfire,Forest fire,Natural,Climatological,NaN,High temperatures and dry conditions,Albania,"Kolonje, Vlore, Puke, Tropoje provinces",NaN,NaN,2007-07-01,2007-07-28,NaN,NaN,NaN,NaN,81.101659
114,Wildfire,Forest fire,Natural,Climatological,NaN,"High temperatures, heavy winds, dry conditions",Bulgaria,"Veliko Tarnovo, Kustendil, Montana, Sofia, Smo...",NaN,NaN,2007-07-01,2007-07-28,1.0,NaN,NaN,2454.0,81.101659
115,Wildfire,NaN,Natural,Climatological,NaN,NaN,Bulgaria,"Topolovgrad, Svilengrad districts (Haskovo pro...",NaN,NaN,2007-08-25,2007-08-26,2.0,NaN,NaN,NaN,81.101659
148,Drought,Drought,Natural,Climatological,NaN,NaN,Afghanistan,"Kunduz, Balkh, Faryab, Badghis provinces",NaN,NaN,2008-10-01,2008-10-28,NaN,280000.0,NaN,NaN,84.215229

In [26]:
disaster_types = climate_disasters.groupby('Disaster Type')
disaster_types['Disaster Subtype'].value_counts()
# MOST OF THESE DO NOT HAVE LAT/LONG SO WE'LL NEED TO LOOK THOSE UP  -  SEE BELOW

Disaster Type  Disaster Subtype
Drought        Drought                             160
Flood          Coastal flood                        18
Wildfire       Forest fire                          79
               Land fire (Brush, Bush, Pasture)     31
Name: Disaster Subtype, dtype: int64

In [29]:
can_map = climate_disasters.dropna(subset=['Latitude'])
print(len(can_map))
can_map

7

,Disaster Type,Disaster Subtype,Disaster Group,Disaster Subgroup,Event Name,Origin,Country,Location,Latitude,Longitude,start_date,end_date,Total Deaths,No Affected,Reconstruction Costs ('000 US$),Total Damages ('000 US$),CPI
47,Flood,Coastal flood,Natural,Hydrological,NaN,Heavy rains and cyclones,Madagascar,"Antananarivo I, Antananarivo II, Antananarivo ...",-18.49000,46.340,2007-02-08,2007-02-08,7.0,33000.0,NaN,NaN,81.101659
261,Flood,Coastal flood,Natural,Hydrological,NaN,Tropical storm Lando,Philippines (the),"Iligan City area (Lanao Del Norte district, Re...",8.79600,124.833,2007-11-18,2007-11-21,11.0,16463.0,NaN,2520.0,81.101659
343,Flood,Coastal flood,Natural,Hydrological,NaN,Tropical depression in Bay of Bengal,India,"Baleshwar, Kendrapara, Bhadrak, Jagatsinghpur,...",20.91000,86.400,2007-09-22,2007-10-03,80.0,7200000.0,NaN,275000.0,81.101659
374,Flood,Coastal flood,Natural,Hydrological,NaN,"Heavy rain, Hurricane Felix",Mexico,"El Higo area (Temporal district, Veracruz prov...",14.62000,-83.640,2007-09-04,2007-09-12,NaN,55000.0,NaN,NaN,81.101659
754,Flood,Coastal flood,Natural,Hydrological,NaN,Typhoon Peipah,Viet Nam,"Khanh Hoa, Quang Ngai, Binh Dinh, Quang Nam, T...",15.30000,108.440,2007-11-10,2007-11-21,55.0,150000.0,NaN,350000.0,81.101659
2544,Flood,Coastal flood,Natural,Hydrological,NaN,NaN,Marshall Islands (the),"Arno Majuro, Mili, Maloelap, Wotje Atolls, Kil...",7.30951,168.730,2014-03-03,2014-03-10,NaN,360.0,NaN,NaN,92.598981
2933,Flood,Coastal flood,Natural,Hydrological,NaN,Heavy rainfall,Guyana,"Barima Waini (region N°1), Demerara Mahaica (r...",6.66576,-58.740,2015-07-15,2015-07-21,NaN,199000.0,NaN,NaN,92.708822